<ion-header [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="padding: 0 15px;padding-top: 20px;--border-width: 0;">
    <ion-buttons slot="start" routerLink="/tabs/message">
      <ion-icon name="chevron-back" style="font-size: 24px;color: var(--ion-color-txt);" />
    </ion-buttons>
    <ion-title class="r14" style="text-align: center;">Sowkot Hasan</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="ellipsis-vertical" style="font-size: 24px;color: var(--ion-color-txt);" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="list2">
    <div class="column" style="justify-content: flex-end;">
      <ion-img src="../../../../assets/image/d1.png" style="height:32px;width:32px;" />
    </div>
    <div class="box1" style="margin-left: 10px;width: 200px;background-color: #488EEB07;border-bottom-left-radius: 0;">
      <ion-text class="r14">I will pickup your package
        within 1 hours</ion-text>
    </div>
  </div>

  <div class="ion-text-center" style="margin-top: 15px;">
    <ion-text class="r12" style="color: var(--ion-color-dis);">10:30</ion-text>
  </div>

  <div class="column" style="align-items: flex-end;margin-top: 15px;margin-bottom: 15px;">
    <div class="box1" style="margin-right: 42px;background-color: var(--ion-color-primary);border-bottom-right-radius: 0;">
      <ion-text class="r14" style="color: #fff;">It’s hard to be productive, man 🙄</ion-text>
    </div>
    <div class="list2" style="margin-top: 10px;">
      <div class="box1" style="margin-right: 10px;background-color: var(--ion-color-primary);border-bottom-right-radius: 0;">
        <ion-text class="r14" style="color: #fff;">Okay i’am wating for you</ion-text>
      </div>
      <div class="column" style="justify-content: flex-end;">
        <ion-img src="../../../../assets/image/s13.png" style="height:32px;width:32px;" />
      </div>
    </div>
  </div>

</ion-content>
<ion-footer [translucent]="false" style="box-shadow: none;background-color: var(--ion-color-bg);">
  <ion-toolbar color="bg" style="padding: 15px;--border-width: 0;">
   <div class="list">
    <div class="icon" style="background-color: var(--ion-color-bg3);">
      <ion-icon name="add" style="font-size: 20px;color: var(--ion-color-txt);"/>
    </div>
    <div class="input2 shadow" style="margin-left: 10px;flex: 1;padding-right: 0;background-color: var(--ion-color-bg1);">
      <ion-input placeholder="Type something..." style="flex: 1;"/>
      <div class="icon" style="background-color: var(--ion-color-primary);">
        <ion-icon name="paper-plane-outline" style="font-size: 20px;color:#fff;"/>
      </div>
    </div>
   </div>
  </ion-toolbar>
</ion-footer>