<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="padding: 0 15px;padding-top: 25px;--border-width: 0;">
    <ion-buttons slot="start">
      <ion-img [src]="darkMode?'../../../../assets/image/Logod.png':'../../../../assets/image/Logo.png'" style="height: 49px;width: 96px;"/>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-text class="title1">Welcome Back!</ion-text>
  <div style="margin-top: 5px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);">Let’s Create Account</ion-text>
  </div>

  <div class="list" style="margin-top: 20px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);flex: 0.5;">Name</ion-text>
    <div class="input" style="flex: 1;">
      <ion-input placeholder="Ferdous Sarker" style="flex: 1;"/>
    </div>
  </div>

  <div class="list" style="margin-top: 20px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);flex: 0.5;">Phone</ion-text>
    <div class="input" style="flex: 1;">
      <ion-input placeholder="+880-51248 984" type="tel" style="flex: 1;"/>
    </div>
  </div>

  <div class="list" style="margin-top: 20px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);flex: 0.5;">Email</ion-text>
    <div class="input" style="flex: 1;">
      <ion-input placeholder="ferdous@gmail.com" style="flex: 1;"/>
    </div>
  </div>

  <div class="list" style="margin-top: 20px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);flex: 0.5;">Password</ion-text>
    <div class="input" style="flex: 1;">
      <ion-item class="input"  style="flex:1;" color="bg">
        <ion-input  type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password"  placeholder="Enter Password" style="margin-left: 0;" ></ion-input>
      </ion-item>
      <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
    </div>
  </div>

  <div class="list" style="margin-top: 15px;">
    <ion-checkbox></ion-checkbox>
    <ion-text class="r14" style="margin-left: 10px;flex: 1;">Remember me</ion-text>
  </div>

  <ion-button routerLink="/tabs" expand="block" style="margin: 20px 0;margin-top: 40px;--background: var(--ion-color-txt);--color: var(--ion-color-bg);">Sign up</ion-button>

  <div class="list" style="justify-content: center;margin-top: 15px;">
    <div class="lines" style="margin: 0;width: 50px;border-color: var(--ion-color-primary);"></div>
    <ion-text class="m14" style="color: var(--ion-color-primary);margin: 0 10px;">or</ion-text>
    <div class="lines" style="margin: 0;width: 50px;border-color: var(--ion-color-primary);"></div>
  </div>

  <div class="list" style="justify-content: center;margin-top: 20px;margin-bottom: 15px;">
    <div class="icon1">
      <ion-img src="../../../../assets/image/google.png" style="height: 16px;width: 16px;"/>
    </div>
    <div class="icon1" style="margin-left: 10px;">
      <ion-img src="../../../../assets/image/fb.png" style="height: 15px;width: 7px;"/>
    </div>
    <div class="icon1" style="margin-left: 10px;">
      <ion-img src="../../../../assets/image/twi.png" style="height: 13px;width: 16px;"/>
    </div>
    <div class="icon1" style="margin-left: 10px;">
      <ion-img src="../../../../assets/image/app.png" style="height: 16px;width: 13px;"/>
    </div>
  </div>

</ion-content>

<ion-footer [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="padding: 15px;--border-width: 0;">
    <div class="list" style="justify-content: center;">
      <ion-text class="m14" style="color: var(--ion-color-txt1);">Have Account? </ion-text>
      <ion-text routerLink="/login" class="b14" style="color: var(--ion-color-primary);margin-left: 10px;"> Log In</ion-text>
    </div>
  </ion-toolbar>
</ion-footer>
