
<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="column" style="align-items: center;margin-top: 110px;">
    <ion-img [src]="darkMode?'../../../../assets/image/Logod.png':'../../../../assets/image/Logo.png'" style="height: 58px;width: 90px;"/>
  </div>

  <div class="ion-text-center" style="margin-top: 15px;">
    <ion-text class="title">Start journey with <ion-text class="title" style="color: var(--ion-color-primary);">Fast</ion-text></ion-text>
  </div>

  <ion-button routerLink="/login" expand="block" style="margin: 20px 0;margin-top: 40px;--background: var(--ion-color-txt);--color: var(--ion-color-bg);">Log in</ion-button>
  <div routerLink="/signup" class="btno" style="margin-bottom: 15px;">
    <ion-text class="b14">Sign up</ion-text>
  </div>

</ion-content>
