<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <ion-fab vertical="bottom" horizontal="center" translucent="true" >
    <div  class="icon" style="background-color: var(--ion-color-txt);margin-bottom:30px;height: 48px;width: 48px;border-radius: 30px;">
      <ion-icon name="add" style="font-size: 22px;color:var(--ion-color-bg);"/>
    </div>
  </ion-fab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline" style="font-size: 22px;margin-bottom: 5px;" />
      Home
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time-outline"  style="font-size: 22px;margin-bottom: 5px;" />
      History
    </ion-tab-button>

    <div style="height: 70px;width: 70px;">

    </div>

    <ion-tab-button tab="message">
      <ion-icon name="chatbubble-ellipses-outline" style="font-size: 22px;margin-bottom: 5px;" />
      Chat
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="grid-outline"  style="font-size: 22px;margin-bottom: 5px;" />
      Menu
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>