<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">

  <!-- FAB central -->
  <ion-fab
    vertical="bottom"
    horizontal="center"
    translucent="true"
    class="custom-fab"
  >
    <ion-tab-button tab="history">
      <div class="fab-icon">
        <img src="../../../assets/icon/Logo.svg" alt="Logo" />
      </div>
      Status
    </ion-tab-button>
  </ion-fab>

  <!-- Contenedor del tab bar -->
  <div class="custom-tabbar-wrapper">
    <!-- Contenedor para la esfera - AHORA CON Z-INDEX MÁS ALTO -->
    <div class="sphere-container">
      <div class="custom-sphere">
        <!-- contenido -->
      </div>
    </div>
    
    <div class="custom-tabbar-bg"></div>

    <ion-tab-bar slot="bottom" class="custom-tabbar">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline" />
        Home
      </ion-tab-button>

      <div class="tabbar-gap"></div>

      <ion-tab-button (click)="goToProfile()">
        <ion-icon name="person-outline" />
        My account
      </ion-tab-button>
    </ion-tab-bar>
  </div>

</ion-tabs>