
<ion-content [fullscreen]="true">

  <div class="column" style="align-items: center;margin-top: 20px;">
    <ion-img src="../../../../assets/image/4.png" style="height: 230px;width: 300px;"/>
  </div>

  <div style="margin-top: 15px;margin-left: 15px;">
    <ion-text class="title1" style="color: var(--ion-color-primary);">3/3</ion-text>
    <div style="margin-top: 10px;height: 3px;background-color: var(--ion-color-primary);width: 100px;border-radius: 10px;">
    </div>

    <div class="list" style="margin-top: 20px;">
      <ion-text class="title" style="flex: 1;">Get your  parcel in time</ion-text>
      <div style="width: 80px;"></div>
    </div>

    <ion-button routerLink="/onbor" expand="block" style="width: 50%;--background: var(--ion-color-txt);--color: var(--ion-color-bg);margin-top: 15px;margin-bottom: 15px;">Get Started</ion-button>

  </div>
  

</ion-content>
