
ion-modal#example-modal {
    --width: 80%;
    --max-width: 90%;
    --height: fit-content;
    --border-radius: 16px;
    background-color: #09101d70;
  }
  
  ion-modal#example-modal .wrapper {
    // margin-bottom: 10px;
    padding: 20px 15px;
    background-color: #F95A54;
  }

  
  