
ion-modal#example-modal {
    --width: 80%;
    --max-width: 90%;
    --height: fit-content;
    --border-radius: 16px;
    background-color: #09101d70;
  }
  
  ion-modal#example-modal .wrapper {
    // margin-bottom: 10px;
    padding: 20px 15px;
    background-color: #488EEB;
  }

  .payment-selected {
  border: 2px solid #488EEB !important;
  background-color: #0b1736 !important; /* fondo azul oscuro */
}

.payment-selected ion-text {
  color: #488EEB !important; /* texto azul */
}

  