<ion-header [translucent]="false" style="box-shadow: none;">
  <ion-toolbar color="bg" style="padding: 0 15px; padding-top: 25px; --border-width: 0; margin-bottom: 4vh;">
    <ion-buttons slot="start" style="justify-content: flex-start; margin-left: 0; padding-left: 0;">
      <ion-img 
        [src]="darkMode?'../../../../assets/image/Logo_Restartify_Complet.svg':'../../../../assets/image/Logo_Restartify_Complet.svg'" 
        style="width: 70vw; max-width: 70%; height: auto; margin-left: 0;"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-text class="title1">Welcome Back!</ion-text>
  <div style="margin-top: 5px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);">Let's Get Start</ion-text>
  </div>

  <div class="list" style="margin-top: 40px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);flex: 0.5;">Email</ion-text>
    <div class="input" style="flex: 1;">
      <ion-input
        [(ngModel)]="email"
        name="email"
        placeholder="Ingresa tu email"
        style="flex: 1;"
      ></ion-input>
    </div>
  </div>

  <div class="list" style="margin-top: 20px;">
    <ion-text class="r16" style="color: var(--ion-color-dis);flex: 0.5;">Password</ion-text>
    <div class="input" style="flex: 1; position: relative;">
      <ion-item class="input" style="flex:1;" color="bg">
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" [(ngModel)]="password" placeholder="" style="margin-left: 0;"></ion-input>
      </ion-item>
      <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility()" 
                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); z-index: 10;"></ion-icon>
    </div>
  </div>

  <ion-button
    expand="block"
    style="margin: 20px 0;margin-top: 40px;--background: var(--ion-color-txt);--color: var(--ion-color-bg);"
    (click)="onLoginClick()"
  >
    Log in
  </ion-button>

</ion-content>
