
<ion-content [fullscreen]="true" class="bg ion-padding">
  
  <div class="list1" style="margin-top: 20px;">
    <div routerLink="/cparcel" class="icon" style="background-color: #FFFFFF15;">
      <ion-icon name="arrow-back" style="font-size: 24px;color: #fff;"/>
    </div>
    <div class="icon" style="background-color: #FFFFFF15;">
      <ion-icon name="ellipsis-vertical" style="font-size: 24px;color: #fff;"/>
    </div>
  </div>

  <div class="column" style="align-items: center;">
    <div routerLink="/cp2" style="position: fixed;bottom: 20px;width: 90%;background-color: #FFFFFF15;padding: 15px;border-radius: 15px;">
      <div class="list">
        <div style="flex: 1;">
          <ion-text class="b16" style="color: #fff;">Mesure your package</ion-text>
          <div style="margin-top: 7px;">
            <ion-text class="r14" style="color: #fff;">Select your box corner
              then Fast make it suitable</ion-text>
          </div>
        </div>
        <ion-img src="../../../../assets/image/s9.png" style="height:48px;width:48px;" />
      </div>
    </div>
  </div>
  
</ion-content>
